{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h2>About Me</h2>
            <p>
                Hello! I'm a web developer with a passion for creating interactive and user-friendly web applications.
                I specialize in Django and front-end technologies like HTML, CSS, JavaScript, and Bootstrap.
            </p>
            <p>
                I enjoy solving problems, learning new technologies, and working with teams to bring ideas to life.
                In my spare time, I love exploring new places, reading, and contributing to open-source projects.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="https://via.placeholder.com/400x400" alt="Profile Picture" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
{% endblock %}
