{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Welcome to My Portfolio!</h1>
    <p>I'm glad you're here! Feel free to explore my work, contact me, and learn more about my skills and projects.</p>
</div>
    <hr>
    <br><br><br>

<div class="container mt-4">
    <h2>My Posts & Thoughts</h2>
    <hr>

    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h4><a href="{% url 'core:post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                <p class="text-muted">{{ post.created_at }}</p>
                <p>{{ post.content|truncatewords:30 }}</p>  <!-- Shows only first 30 words -->
            </div>
        </div>
        <hr>
    {% empty %}
        <hr>
        <p>No posts available.</p>
    {% endfor %}

    <!-- Include Pagination -->
    {% include 'pagination.html' %}
</div>
{% endblock %}
